<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card1">
      <img src="/assets/modelo1.jpg" id="imagem1" alt="...">
      <div class="card-body"><br>
        <h5 class="cardtitulo">Vest Romasa</h5><br>
        <p class="card-text">Strong &amp; charismatic</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card2">
      <img src="/assets/modelo2.jpg" id="imagem2" alt="...">
      <div class="card-body"><br>
        <h5 class="cardtitulo">Jacket Fima</h5><br>
        <p class="card-text">Strong Sersonality</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card3">
      <img src="/assets/modelo3.jpg" id="imagem3" alt="...">
      <div class="card-body"><br>
        <h5 class="cardtitulo">Jacket Black Kira</h5><br>
        <p class="card-text">Power Fascinating</p>
      </div>
    </div>
  </div>
  
      
    </div><br><br><br>
  
